<template>
  <v-container>
    <div class="d-flex flex-no-wrap my-3">
      <div class="count tcolor ">Total (3) Items </div>
    </div>
    <v-row>
      <v-col cols="12" md="8">
        <v-row dense>
          <v-col cols="12">
            <v-card class="rounded-lg">
              <v-btn absolute top color="error" right fab x-small>
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <div class="d-flex flex-no-wrap ">
                <v-avatar class="ma-3" size="125" tile>
                  <v-img :src="require('../assets/food.png')"></v-img>
                </v-avatar>
                <div style="width: 100%;">
                  <v-card-title class="text-h6 font-weight-bold">
                    Super Dinner
                  </v-card-title>
                  <v-card-subtitle>
                    KFC Salmiya
                  </v-card-subtitle>

                  <v-card-text>
                    <div class="d-flex flex-wrap ">
                      <div>
                        <h4>
                          2.350 x 1 = 2.350 KD
                        </h4>

                      </div>

                      <v-spacer></v-spacer>

                      <div class="px-3 btcolor font-weight-bold text-h6" v-on:click="minusQty(buy_data)">-</div>
                      <div class="px-3 font-weight-bold text-h6">2</div>
                      <div class="px-3 btcolor font-weight-bold text-h6" v-on:click="plusQty(buy_data)">+</div>

                    </div>
                  </v-card-text>
                </div>

              </div>
            </v-card>
          </v-col>
        
          <v-col v-for="(item, i) in items" :key="i" cols="12">
            <v-card class="rounded-lg">
              <v-btn absolute top color="error" right fab x-small>
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <div class="d-flex flex-no-wrap ">
                <v-avatar class="ma-3" size="125" tile>
                  <v-img :src="require('../assets/food.png')"></v-img>
                </v-avatar>
                <div style="width: 100%;">
                  <v-card-title class="text-h6 font-weight-bold">
                    Super Dinner
                  </v-card-title>
                  <v-card-subtitle>
                    KFC Salmiya
                  </v-card-subtitle>

                  <v-card-text>
                    <div class="d-flex flex-wrap ">
                      <div>
                        <h4>
                          2.350 x 1 = 2.350 KD
                        </h4>

                      </div>

                      <v-spacer></v-spacer>
                      <div class="px-3 btcolor font-weight-bold text-h6" v-on:click="minusQty(buy_data)">-</div>
                      <div class="px-3 font-weight-bold text-h6">2</div>
                      <div class="px-3 btcolor font-weight-bold text-h6" v-on:click="plusQty(buy_data)">+</div>
                    </div>
                  </v-card-text>
                </div>

              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="4">
        <div class="d-flex justify-end ">
          <v-btn dark color="cyan">
            Back to Shops
          </v-btn>
        </div>
        <v-card class="rounded-lg mt-6">
          <v-card-title class="text-h6 font-weight-bold d-flex justify-end">
            Sub Total(3 Items): KD 10.35
          </v-card-title>
          <v-card-subtitle class="black--text d-flex justify-end">
            Promo Discount: KD 2.0
          </v-card-subtitle>
          <v-card-text class="cyan--text d-flex justify-end">
            Total : KD 8.35
          </v-card-text>
          <v-card-action class="d-flex justify-center mb-6">
            <v-btn rounded dark color="cyan" class="mb-6">
              CHECKOUT
            </v-btn>
          </v-card-action>

        </v-card>

      </v-col>
    </v-row>
    <div class="d-flex flex-no-wrap mt-6">
      <div class="count tcolor text-h6 hidden-sm-and-down">You may also like </div>
    </div>
    <v-row class="hidden-sm-and-down">
      <v-col cols="12">
        <v-carousel hide-delimiters>
          <template v-for="(item, index) in slider">
            <v-carousel-item v-if="(index + 1) % columns === 1 || columns === 1" :key="index">
              <v-row class="flex-nowrap" style="height:100%">
                <template v-for="(n,i) in columns">
                  <template v-if="(+index + i) < slider.length">
                    <v-col cols="12" md="3" :key="i">
                      <v-sheet v-if="(+index + i) < slider.length" height="100%">
                        <v-row class="fill-height" align="center" justify="center">
                          <v-col>
                            <v-card class="rounded-lg">
                              <v-img :src="require('../assets/niva.png')"></v-img>
                              <v-card-text>

                                <div class="black--text">Nivea body Milk 48h Nivea </div>
                                <div class="black--text">body Milk 48h </div>
                                <div class="black--text font-weight-bold">1.200 KD </div>
                              </v-card-text>
                              <v-card-actions>
                                <v-icon small color="pink">mdi-tag</v-icon>
                                <div class="pink--text ml-2">Up to 20 % OFF</div>
                                <v-spacer></v-spacer>
                                <div class="black--text ">10 mins</div>
                              </v-card-actions>
                            </v-card>
                          </v-col>
                        </v-row>
                      </v-sheet>
                    </v-col>
                  </template>
                </template>
              </v-row>
            </v-carousel-item>
          </template>
        </v-carousel>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'Cart',

    data: () => ({
      qty: '',
      slider: [
        "red",
        "green",
        "orange",
        "blue",
        "pink",
        "purple",
        "indigo",
        "cyan",
        "deep-purple",
        "light-green",
        "deep-orange",
        "blue-grey"
      ],
      items: [
        {
          color: '#1F7087',
          src: 'https://cdn.vuetifyjs.com/images/cards/foster.jpg',
          title: 'Supermodel',
          artist: 'Foster the People',
        },
        {
          color: '#952175',
          src: 'https://cdn.vuetifyjs.com/images/cards/halcyon.png',
          title: 'Halcyon Days',
          artist: 'Ellie Goulding',
        },
      ],
    }),
    computed: {
      columns() {
        if (this.$vuetify.breakpoint.xl) {
          return 4;
        }

        if (this.$vuetify.breakpoint.lg) {
          return 4;
        }

        if (this.$vuetify.breakpoint.md) {
          return 6;
        }

        return 1;
      }
    },

  }
</script>
<style>
  .tcolor {
    color: #81d4fa;
  }

  .btcolor {
    background-color: azure;
  }
</style>