<template>
  <v-app>
    <v-toolbar color="cyan" dark app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed>
      <v-toolbar-title style="width: 150px" class="ml-0 pl-3">
        <v-icon>mdi-arrow-left</v-icon>

      </v-toolbar-title>
      <v-row class="hidden-sm-and-down">
        <v-col cols="12" sm="4" class="mt-6">
          <v-text-field solo dense label="Append" append-icon="mdi-map-marker" color="cyan" background-color="white">
          </v-text-field>
        </v-col>
        <v-col cols="12" sm="4" class="mt-6">
          <v-text-field dark dense solo background-color="white" color="black" v-model="search"
            append-icon="mdi-magnify" label="Search" single-line hide-details></v-text-field>
        </v-col>
      
        <v-col cols="12" sm="1" class="mt-6">
          <v-select color="white" class="cyan--text " dense solo-inverted :items="items" item-text="text" item-value="id" v-model="e1"
            label="En" single-line bottom></v-select>
        </v-col>
        <v-col cols="12" sm="1" class="mt-6">
          <v-badge color="orange" dot overlap>
            <v-btn icon>
              <v-icon>mdi-bell</v-icon>
            </v-btn>
          </v-badge>
        </v-col>
        <v-col cols="12" sm="1" class="mt-6">
        <v-btn color="white" class="cyan--text ">
          <v-icon left>
            mdi-account
          </v-icon>
          Name
        </v-btn>
      </v-col>
      
      </v-row>
        <div class=" d-xs-flex d-md-none text-h6 ">Shopping Cart</div>
      
         </v-toolbar>

    <v-main>
      <Cart />
    </v-main>
  </v-app>
</template>

<script>
  import Cart from './components/Cart';

  export default {
    name: 'App',

    components: {
      Cart,
    },

    data: () => ({
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
    }),
  };
</script>